---
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<header
    class="flex justify-between items-center mx-auto px-3 py-2 w-full xl:w-[1120px] sticky top-7 z-10 rounded-lg bg-black/70"
>
    <img
        class="rounded-full size-12 object-cover"
        src="PXL_20230911_114507294.PORTRAIT~2.jpg"
        alt="Logo"
    />
    <nav class="flex flex-row gap-x-11 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#about">Sobre mí</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
    <ul class="flex gap-x-10">
        <li class="hover:scale-125 hover:bg-cyan-300/50 transition rounded-sm">
            <a
                href="https://www.linkedin.com/in/jjboydo"
                target="_blank"
                rel="noopener noreferrer"
                ><LinkedInIcon class="w-6 h-6 opacity-30" /></a
            >
        </li>
        <li
            class="hover:scale-125 hover:bg-cyan-300/50 transition rounded-full"
        >
            <a
                href="https://github.com/jjboydo"
                target="_blank"
                rel="noopener noreferrer"
                ><GitHubIcon class="w-6 h-6 opacity-30" /></a
            >
        </li>
        <li class="hover:scale-125 hover:bg-cyan-300/50 transition rounded-sm">
            <a
                href="https://mailto:juanjoo1020@gmail.com"
                target="_blank"
                rel="noopener noreferrer"
                ><MailIcon class="w-6 h-6 opacity-30" /></a
            >
        </li>
    </ul>
</header>
